@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Sorry, we can not find your page.</h2>

@Model.Exception.Message
<h1 class="text-danger">Sorry</h1>
<h1 class="text-danger">An error occurred!</h1>