@{
    ViewBag.Title = "About";
}


<h2>About GameTrading</h2>
<h5>GameTrading is a website which provides a platform for all kinds of game players to buy, sell, and swap their games with other.</h5>

 
