@{
    ViewBag.Title = "Contact";
}

<h1>Contact Me</h1>
<address>
    <abbr title="Phone">P:</abbr>
    0430490668
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yuyang8986@gmail.com">yuyang8986@gmail.com"</a><br />
  </address>